.fa {
    font-family: 'IRSans' !important;
    letter-spacing: 0 !important;
  
    h2 {
      font-family: 'IRSans' !important;
      letter-spacing: 0;
      font-size: 1.5em;
      font-weight: 900;
    }
  
    h3 {
      font-family: 'IRSans' !important;
      letter-spacing: 0;
      font-size: 1.2em;
    }
  
    h4 {
      font-family: 'IRSans' !important;
      letter-spacing: 0;
      font-size: 1em;
    }

    h5 {
        font-family: 'IRSans' !important;
        letter-spacing: 0;
        font-size: 0.8em;
      }    
  
  }
  